/* Main page styles */
body {
    margin: 0;
    padding: 0;
    background-color: rgb(178, 144, 178);
    font-family: "Shantell Sans", sans-serif;
    color: black;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    justify-content: space-between;
}

.heading {
    margin: 1em 0 1em;
}

/* Start page before quiz begins */
.start-page {
    width: 80%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: bisque;
    box-shadow: 0 0 10px 1.5px;
    padding: 2em;
    letter-spacing: .03em;
}

/* Front page image */
.front-page-image img {
    margin-top: 1em;
    max-width: 70%;
    box-shadow: 0 0 10px 1.5px;
    border-radius: 5px;
    padding: 2em;
    margin-bottom: 1em;
}

/* Style for quiz page */
.quiz-area {
    width: 80%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: bisque;
    box-shadow: 0 0 10px 1.5px;
    margin-bottom: 2em;
    overflow-x: hidden;
}

.question-line {
    padding: 2em;
}

.answer-buttons {
    padding: 1em;
    display: grid;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* Style for all buttons */
.btn {
    padding: .75em;
    background-color: rgb(220, 160, 138);
    border-radius: 5px;
    margin: .25em;
}

/* Answer button changes green when correct */
.correct {
    background: rgb(91, 159, 91);
}

/* Answer button changes red when incorrect */
.incorrect {
    background: rgb(194, 84, 84);
}

/* Hover style over buttons */
.btn:hover {
    border-color: blueviolet;
    box-shadow: 0 0 10px 2px;
}

/* Next Question button */
.next-question {
    padding: 1em;
}

/* Hides content */
.hide {
    display: none;
}

/* Results Page styles */
.results-page {
    width: 80%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: bisque;
    box-shadow: 0 0 10px 1.5px;
    margin-bottom: 2em;
}

/* Line to display score results */
.your-score {
    width: 80%;
    height: 60%;
    margin: auto;
    padding: 2em;
    letter-spacing: .03em;
}

.results-page-image img {
    max-width: 50%;
    margin-bottom: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px 1.5px;
}

/* Feedback form */
.feedback-container {
    width: 50%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2em;
    letter-spacing: .03em;
    display: flex;
    flex-direction: column;
}

.form-label {
    padding: 0 0 1.2em;
}

.feedback-text-box {
    width: 80%;
    padding: 1em;
    margin: auto;
    font-size: medium;
}

/* Submit Feedback button */
.submit-button {
    margin: auto;
    margin-top: 1em;
}

/* Footer styles */
.footer {
    max-height: 6vh;
    width: 100%;
    background-color: bisque;
    padding: 1em;
    position: static;
    overflow: none;
    margin-top: auto;
}

.footer-item {
    padding: .5em;
}

/* 404 Page Styles */
.not-found {
    margin: 0;
    padding: 0;
    background-color: rgb(178, 144, 178);
    font-family: "Shantell Sans", sans-serif;
    color: black;
    text-align: center;
}

.error-image img {
    max-width: 50%;
    max-height: 50%;
    margin-top: 1em;
    box-shadow: 0 0 10px 1.5px;
    border-radius: 5px;
    padding: 2em;
    margin-bottom: 1em;
}

/* Media query for mobile and larger (320px and up) */
@media screen and (min-width: 320px) {

    /* Start Page */
    .start-page {
        width: 60%;
    }

    /* Quiz Page */
    .question-line {
        padding: 1em;
    }

    .answer-buttons {
        max-width: fit-content;
    }

}